#title{ background: lightgray;}
#main{ background: lightblue;}
#menu{ background: pink;}



@media (max-width: 400px){
    
    #container{
        grid-template-columns: 100%;
    }
    #title{
        grid-row: 1;
    }
    #menu{
        grid-column: 1;
        grid-row:3;
    }
    
    #main{
        grid-column:1;
            grid-row:3;
        
    }
    
    #menu li{
        flex-grow:inital;
    }
    
    li#home{
        flex-basis: auto;
    }
    
    #create-account input, #create-account button{
    flex-basis: 100%;
    margin: 0.5em;
    font-size: 1.5em;
}
}




/* tablet */

@media (min-width:401px) and ( max-width:800px){
    
    #title{
        
    }
    
    #menu{
       grid-row:2;
        grid-column: 1;
        
    }

    #main{
        grid-row:1 / span 2;
        grid-column:2;
    }
    
    #menu ul{
        flex-direction: column;
    }
    
    #menu li {
        font-size:1.5em;
    }
    
    #create-account input{
        flex-basis: 33%;
        
    }
}



